* {
    box-sizing: border-box;
}

$golden-ratio: 1.61803398875;

section {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    .square {
        display: flex;
        flex-wrap: wrap;
        &:before {
            content: "";
            display: block;
            padding-top: 85%;
        }
    }

    .flex-col-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .tall-rect {
        //box-shadow: 5px 5px 25px rgba(black, 0.1);
        flex: $golden-ratio;
    }
    .wide-rect {
        margin-top: 1rem;
        //box-shadow: 5px 5px 25px rgba(black, 0.1);
        flex: 1;
        display: flex;
    }
}

